NODE-Red function.txt
[{"id":"b5bce51a.a6ae98","type":"tab","label":"Presenter","disabled":true,"info":""},{"id":"953b593e.cb40c8","type":"mqtt in","z":"b5bce51a.a6ae98","name":"","topic":"node/radio-presenter:0/accelerometer/-/acceleration","qos":"2","broker":"e649966c.8c2af8","x":190,"y":240,"wires":[["9f99bd3a.7fc49"]]},{"id":"9f99bd3a.7fc49","type":"json","z":"b5bce51a.a6ae98","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["40f651b7.d9111"]]},{"id":"40f651b7.d9111","type":"function","z":"b5bce51a.a6ae98","name":"press button functions","func":"xValue = msg.payload[0];\nyValue = msg.payload[1];\nzValue = msg.payload[2];\nif(xValue > 0.4)\n{\n    msg.payload = \"next\";\n}\nelse if(xValue < -0.4)\n{\n    msg.payload = \"prev\";\n}\nelse if(yValue > 0.2)\n{\n    msg.payload = \"start\";\n}\nelse if(yValue < -0.2)\n{\n    msg.payload = \"tab\";\n}\nelse\n{\n    msg.payload = \"esc\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["b299f084.5525c"]]},{"id":"b299f084.5525c","type":"mqtt out","z":"b5bce51a.a6ae98","name":"","topic":"presenter/action","qos":"","retain":"","broker":"e649966c.8c2af8","x":1000,"y":220,"wires":[]},{"id":"1f9b0536.8f8d4b","type":"mqtt in","z":"b5bce51a.a6ae98","name":"","topic":"node/radio-presenter:0/accelerometer/-/acceleration_hold","qos":"2","broker":"e649966c.8c2af8","x":210,"y":200,"wires":[["7d80dd2d.f25ba4"]]},{"id":"7af63160.f2ab4","type":"function","z":"b5bce51a.a6ae98","name":"hold button functions","func":"xValue = msg.payload[0];\nyValue = msg.payload[1];\nzValue = msg.payload[2];\nif(xValue > 0.4)\n{\n    msg.payload = \"tabNext\";\n}\nelse if(xValue < -0.4)\n{\n    msg.payload = \"tabPrev\";\n}\nelse if(yValue > 0.2)\n{\n   msg.payload = \"space\";\n}\nelse if(yValue < -0.2)\n{\n    msg.payload = \"enter\";\n}\nelse\n{\n    msg.payload = \"end\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["b299f084.5525c"]]},{"id":"7d80dd2d.f25ba4","type":"json","z":"b5bce51a.a6ae98","name":"","property":"payload","action":"","pretty":true,"x":490,"y":200,"wires":[["489cf657.fa0d48"]]},{"id":"489cf657.fa0d48","type":"json","z":"b5bce51a.a6ae98","name":"","property":"payload","action":"","pretty":false,"x":630,"y":200,"wires":[["7af63160.f2ab4"]]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
